extend base
block content
  section.about
    .greatings
      h1 Hi there.
      p
        | I’m Domenico Flauto, <br>
        | UI/UX designer and front end developer<br>
        | based in London, made in Italy.<br>
        | Omnivorous and coffee addicted.<br>
        
      br
      br
      br
      br
  section.works
    h2 Case studies
    img(src="_assets/logos/sw_extended.svg", alt="")
    img(src="_assets/logos/mc_extended.svg", alt="")

  section.contacts
    h2 Contacts
    p Please contact me and bla bla bla
    br
    a(href="tel:+447518996909")
      i.fa.fa-phone
        span &nbsp;+44 (0) 7518 996 909
    br
    a(href="mailto:dom@domenicoflauto.com")
      i.fa.fa-envelope
        span &nbsp;dom@domenicoflauto.com
    br
    a(href="skype:dflauto?call")
      i.fa.fa-skype
        span &nbsp;dflauto
      
