doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset="utf-8")
  title Domenico Flauto
  link(rel='stylesheet', href='_assets/style/app.css')
body.debug
  .container
    header
      span.logo domenico<strong>flauto</strong>
