.debug {
  background-color: #D6D6D6;
  * {
    box-sizing: border-box;
    border: 1px solid red;
  }
}


.prova {
  margin: 0 auto;
  width: 100px;
  height: 3000px;
  span {
    margin-left: 50px;
  }
}
