// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

// For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
.cf {
    *zoom: 1;
}

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  // -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$breakpoints: (
  xl: (min-width: 1600px),
  desktop-hd: (min-width: 881px) and (max-width: 1200px),
  l: (max-width: 1200px),
  min-l: (min-width: 1201px),
  desktop: (min-width: 701px) and (max-width: 880px),
  m: (max-width: 880px),
  min-m: (min-width: 881px),
  tablet: (min-width: 421px) and (max-width: 700px),
  s: (max-width: 700px),
  min-s: (min-width: 701px),
  mobile: (max-width: 420px),
  xs: (max-width: 420px),
  min-xs: (min-width: 421px)
);
@mixin bp($name) {
  $value: map-get($breakpoints, $name);
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "The '#{$name}' breakpoint is not defined. "
        + "Please make sure it is defined in the global.scss '$breakpoint' map.";
  }
}

@mixin debug($color) {
  border: 1px solid ($color);
}

// ::selection {
//   background: rgb(50, 50, 50);
//   color: rgb(255, 255, 255);
// }
// ::-moz-selection {
//   background: rgb(50, 50, 50);
//   color: rgb(255, 255, 255);
// }


body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
