

.container {
  box-sizing: border-box;
  background-color: #ffffff;
}

header {
  position: fixed;
  z-index: 100000;
  top: 0;
  height: 50px;
  background-color: white;
}

.logo {
  // border: 1px solid chocolate;
  // margin: 20px 0 auto auto;
  position: relative;
  width: 150px;
  // height: 20px;
  span {
    @include sans-light;
    font-size: 1.105rem;
    // border: 1px solid red;
    text-align: center;
    // display: block;
    strong {
      @include sans-semibold;
      color: #666666;
    }
  }
}



.social {
  float: left;
  margin: 20px 0 0 40px;
  div {
    display: inline-block;
    &:hover {
      i {
        animation: tada 1000ms;
      }
      #twitter-icon {
        color: #4099FF;
      }
      #linkedin-icon {
        color: #0077B5;
      }
    }
  }
  i {
    color: #666666;
    font-size: 0.9em;
    margin-right: 10px;
  }
  span {
    @include sans-light;
    margin-right: 20px;
    margin-left: -5px;
    color: #666666;
    font-size: 0.8em;
  }
}



footer {
  box-sizing: border-box;
  // height: 60px;
  // background-color: #444444;
  background-color: $col-Astral;
  position: relative;
  margin-bottom: 0;
  padding: 20px 20px;
  color: #FFFFFF;
  font-size: 0.8em;
  border-bottom: 10px solid white;
  ul {
    display: block;
    margin: 0;

    li {
    display: inline;
    // border: 1px solid white;
    margin: 0 4px;
    i {
      color: lightgrey;
      &:hover {
        color: white;
      }
    }
  }
  }
}
